@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@custom-variant dark (&:is(.dark *));

:root {
  --foreground-primary: oklch(0.985 0 0);
  --foreground-contrast: oklch(0.145 0 0);
  --foreground-muted: oklch(58.97% 0 0);

  --destructive: oklch(0.6977 0.1565 4.22);
  --warning: oklch(0.8429 0.11 74.6);
  --radius: 0.420rem;

  --background-1: oklch(100% 0 0);
  --background-2: oklch(98.51% 0 0);

  --primary-1: oklch(55.5% 0.186 264.4);
  --primary-2: oklch(52.3% 0.196 264.4);
  --primary-3: oklch(49.1% 0.206 264.4);

  --secondary-1: oklch(0.7974 0.1631 129.8);
  --secondary-2: oklch(0.8434 0.1287 128.71);
  --secondary-3: oklch(0.8911 0.0898 127.92);

  --success-3: oklch(0.8299 0.0851 153.72);
  --success-2: oklch(0.7706 0.1167 152.52);
  --success-1: oklch(0.7143 0.1457 150.93);

  --border: oklch(83.59% 0 0);

  --grey-alpha-1: oklch(0% 0 0 / 5.1%);
  --grey-alpha-2: oklch(0% 0 0 / 7.84%);
  --grey-alpha-3: oklch(0% 0 0 / 10.2%);
  --grey-alpha-4: oklch(0% 0 0 / 7.84%);
  --grey-alpha-5: oklch(0% 0 0 / 21.18%);
  --grey-alpha-6: oklch(0% 0 0 / 34.12%);
  --grey-alpha-7: oklch(0% 0 0 / 43.92%);
  --grey-alpha-8: oklch(0% 0 0 / 50.98%);
  --grey-alpha-9: oklch(0% 0 0 / 61.18%);
  --grey-alpha-10: oklch(0% 0 0 / 90.98%);

}

.dark {
  --foreground-primary: oklch(0.145 0 0);
  --foreground-contrast: oklch(0.985 0 0);

  --background-1: oklch(14.48% 0 0);
  --background-2: oklch(0% 0 0);

  --primary-1: oklch(0.776 0.0945 304.99);
  --primary-2: oklch(0.6742 0.1395 303.71);
  --primary-3: oklch(0.5758 0.1825 301.72);

  --border: oklch(39.04% 0 0);

  --grey-alpha-1: oklch(100% 0 0 / 5.88%);
  --grey-alpha-2: oklch(100% 0 0 / 9.02%);
  --grey-alpha-3: oklch(100% 0 0 / 12.94%);
  --grey-alpha-4: oklch(100% 0 0 / 14.12%);
  --grey-alpha-5: oklch(100% 0 0 / 23.92%);
  --grey-alpha-6: oklch(100% 0 0 / 50.98%);
  --grey-alpha-7: oklch(100% 0 0 / 54.12%);
  --grey-alpha-8: oklch(100% 0 0 / 47.06%);
  --grey-alpha-9: oklch(100% 0 0 / 61.18%);
  --grey-alpha-10: oklch(100% 0 0 / 92.16%);
}

@theme inline {
  /* optional: --font-sans, --font-serif, --font-mono if they are applied in the layout.tsx */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-border: var(--border);

  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);

  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-contrast: var(--foreground-contrast);
  --color-foreground-muted: var(--foreground-muted);

  --color-grey-alpha-1: var(--grey-alpha-1);
  --color-grey-alpha-2: var(--grey-alpha-2);
  --color-grey-alpha-3: var(--grey-alpha-3);
  --color-grey-alpha-4: var(--grey-alpha-4);
  --color-grey-alpha-5: var(--grey-alpha-5);
  --color-grey-alpha-6: var(--grey-alpha-6);
  --color-grey-alpha-7: var(--grey-alpha-7);
  --color-grey-alpha-8: var(--grey-alpha-8);
  --color-grey-alpha-9: var(--grey-alpha-9);
  --color-grey-alpha-10: var(--grey-alpha-10);

  --color-primary: var(--primary-1);
  --color-primary-hover: var(--primary-2);

  --color-secondary: var(--secondary-1);
  --color-secondary-hover: var(--secondary-2);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success: var(--success-1);

  --radius-radius: var(--radius);
}

@layer base {
  * {
    @apply border-border
  }
  body {
    @apply bg-background-1 text-foreground-primary;
  }
}
